/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans&display=swap');

/* Structural CSS */

body {
    padding: 0;
    margin: 0;
    font-family: 'Courier Prime', mono;
    font-size: 1.3rem;
}

/* Navigation */

#nav {
    font-size: 1.5rem;
    height: 40px;
}

.nav-list-wrapper {
    position: relative;
}
#nav a:hover {
    text-decoration: underline;
}

/* Header */
#header h1 {
    font-size: 3rem
}

#header p {
    font-size: 1.5rem;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
}

#nav #logo {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Media queries */

@media screen and (max-width: 980px) {

    #nav li {
        clear: both;
        float:left;
        text-align: left;
        display: block;
    }

    #nav {
        height: 120px;
    }
}

/* Styling for annimation section */
/* All annimation styling below to be further edited. Currently nothing happens. Basic structure only coded. */

#rocket {
    position: relative;
    animation-name: rocket-zoom;
    animation: 1s;
}
@keyframes rocket-zoom {
    from {
        left: 0;
    }
    to {
        left: 20px;
    }
}

#balloon {
    position: relative;
    animation-name: balloon-fly;
    animation: 5s;
}
@keyframes ballon-fly {
    from {
        bottom: 0;
    }
    to {
        top: 20px;
    }
}

#treasure-cover {
    animation-name: reveal;
    animation: 3s;
}
@keyframes reveal {
    from {
        
    }
    to {
        
    }
}


