/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans&display=swap');

/* Structural CSS */

body {
    padding: 0;
    margin: 0;
    font-family: 'Courier Prime', mono;
    font-size: 1.3rem;
}

/* Navigation */

#nav {
    font-size: 1.5rem;
    height: 40px;
}

.nav-list-wrapper {
    position: relative;
}
#nav a:hover {
    text-decoration: underline;
}

/* Header */
#header h1 {
    font-size: 3rem
}

#header p {
    font-size: 1.5rem;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
}

#nav #logo {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* color gradients */


#gradient1 {
    height: 150px;
    width: 250px;
    background-image: linear-gradient(blue, green);
}

#gradient2 {
    height: 150px;
    width: 250px;
    background-image: linear-gradient(to top right, blue, green);
}

#gradient3 {
    height: 150px;
    width: 250px;
    background-image: linear-gradient(to top right,black, blue, green, white);
}

.gradient-code {
    background-color: rgb(168, 155, 155);
    padding: 1px;
    border-radius: 5px;
    
}

/* Media queries */

@media screen and (max-width: 980px) {

    #nav li {
        clear: both;
        float:left;
        text-align: left;
        display: block;
    }

    #nav {
        height: 120px;
    }
}

/* Styling for annimation section */

#annimation {
    margin-left: 20px;
}

#annimation h2 {
    text-align: center;
}

#annimation-container {
    height: 620px;
    background-image: url(../images/sea.jpeg);
    background-size: cover;
}

/* Rocket */

#rocket-container {
    width: 100%;
    height: 100px;
}
#rocket {
    padding-top: 10px;
    font-size: 4rem;
    position: relative;
    animation-name: rocket-zoom;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: paused;
}
#rocket:active {
    animation-play-state: running;
}
@keyframes rocket-zoom {
    from {
        left: 0;
    }
    to {
        left: 92%;
    }
}

/* Treasure Island */

#treasure {
    height: 150px;
    width: 120px;
    margin-left: 200px;
    margin-top: 100px;
}
#treasure-island {
    width: 250px;
    height: 180px;
    background: url(../images/sand.jpeg);
    border: solid #b68253 2px;
    border-radius: 200px 100px 150px 50px;
    margin-left: 130px;
    position: relative;
    bottom: 180px;
    opacity: 1;
}
#treasure-island:hover {
    animation-name: reveal;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
#x-spot {
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    font-size: 4rem;
}
@keyframes reveal {
    from { 
        opacity: 1;
    }
    to { 
        opacity: 0; 
    }
}

/* Balloon */

#balloon {
    font-size: 10rem;
    position: relative;
    bottom: 100px;
    right: 0;
    float: right;
    padding-right: 10px;
/* animation specific code */
    animation-name: balloon-fly;
    animation-direction: alternate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes balloon-fly {
    0% {
        bottom: 100px;
        right: 0px;
    }
    25% {
        bottom: 200px;
        right: 50px;
    }
    50% {
        bottom: 300px;
        right: 0px;
    }
    75% {
        bottom: 400px;
        right: 50px;    }
    100% {
        bottom: 500px;
        right: 0px;
    }
}
